<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="../static/images/icon.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/style-login.css">
</head>
<body>
    {% include "header.html" %}
    <main class="main-login">
        <h1 class="title-of-main">Register or log in, to see all content</h1>
        <div class="container">
            <input type="checkbox" id="activador" class="checkbox-activador">
            <div class="grupo-checkbox">
                <p class="text-container">already you have account?</p>
                <label for="activador" class="boton-activador">Log in</label>
            </div>
            <form id="login-form">
                <h2 class="title-login">Login</h2>
                <label for="email-login">Email:</label>
                <input class="input-login" type="email" id="email-login" name="email-login" required placeholder="Email" >
                <label for="password-login">Password:</label>
                <input class="input-login" type="password" id="password-login" name="password-login" required placeholder="password">
                <button class="boton" type="submit">Log in</button>
            </form>
            <div class="grupo-checkbox">
                <p class="text-container">you don't have account? create now!!</p>
                <label for="activador" class="boton-activador">Registre</label>
            </div>
            <form id="register-form">
                <h2 class="title-login">Registre</h2>
                <label for="First_name">First Name:</label>
                <input class="input-registre" type="text" id="First_name" name="First_name" required placeholder="Rick" >
                <label for="Last_name">Last Name:</label>
                <input class="input-registre" type="text" id="Last_name" name="Last_name" required placeholder="Sanchez" >
                <label for="email">Email:</label>
                <input class="input-registre" type="email" id="email" name="email" required placeholder="Email" >
                <label for="password">Password:</label>
                <input class="input-registre" type="password" id="password" name="password" required placeholder="password">
                <button class="boton" type="submit">sing up</button>
            </form>
        </div>
    </main>
    {% include "footer.html" %}
    <script src="../static/javascript/scripts-login.js"></script>
</body>
</html>